# clean dataset

In [1]:
import pandas as pd
import re
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
df_heart = pd.read_csv('Downloads/heart-disease-cleveland.csv')

In [3]:
df_heart.isnull().sum().sort_values(ascending=False)

 ca           4
 thal         2
age           0
 sex          0
 cp           0
 trestbps     0
 chol         0
 fbs          0
 restecg      0
 thalach      0
 exang        0
 oldpeak      0
 slope        0
 diagnosis    0
dtype: int64

In [4]:
#overview
df_heart.dtypes

age             int64
 sex            int64
 cp             int64
 trestbps       int64
 chol           int64
 fbs            int64
 restecg        int64
 thalach        int64
 exang          int64
 oldpeak      float64
 slope          int64
 ca           float64
 thal         float64
 diagnosis      int64
dtype: object

In [5]:
df_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,diagnosis
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0

In [6]:
df_heart.shape

(303, 14)

In [7]:
# number of rows missing in each column
# df_heart.isnull().sum()
# % of rows missing in each column
for column in df_heart.columns:
    percentage = df_heart[column].isnull().mean()
    print(f'{column}: {round(percentage*100, 2)}%')

age: 0.0%
 sex: 0.0%
 cp: 0.0%
 trestbps: 0.0%
 chol: 0.0%
 fbs: 0.0%
 restecg: 0.0%
 thalach: 0.0%
 exang: 0.0%
 oldpeak: 0.0%
 slope: 0.0%
 ca: 1.32%
 thal: 0.66%
 diagnosis: 0.0%

In [61]:
#1. drop
#drop column
df_heart = df_heart.drop(df_heart.columns[[11]], axis=1)

In [62]:
df_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal,diagnosis
0,63,1,1,145,233,1,2,150,0,2.3,3,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,3.0,0

In [63]:
df_heart.to_csv("Downloads/heart.csv")